@import url("/assets/fonts/AbrilFatface-Regular.ttf");
@import url("/assets/fonts/Poppins-Bold.ttf");
@import url("/assets/fonts/Poppins-Regular.ttf");

$abril-fatface: "Abril Fatface";
$poppins-regular: "Poppins Regular";
$poppins-bold: "Poppins Bold";

$main-red: #cf161c;
$main-white: #ffffff;
$main-side-bar-hover: #980c10;
$main-date-size: 2.5rem;
$main-list-size: 1.5rem;
$main-info-size: 20px;
$main-title-size: 202px;
$main-list-num: #ececec;
$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
}

.fit-screen {
  height: 100vh;
  width: 100vw;
}

.pl-54px {
  padding-left: 54px !important;
}

.side-bar-wrapper {
  position: fixed;
  width: 54px;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.buttonContainer {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  justify-content: center;
  align-items: center;
}

.bar1,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #000000;
  margin: 6px 0;
  transition: 0.4s;
}

.invis {
  width: 35px;
  height: 2px;
  margin: 6px 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-side-bar {
  height: 100%;
  width: 54px;
  height: 922px;
  padding: 0 5px;
  background-color: $main-white;
  z-index: 1000;
  // border:#00007D 1px solid;
  transition: all 0.3s ease-in-out;
  ul {
    padding: 160px 0px 0px 100px;
    overflow: hidden;
    visibility: hidden;
    height: 700px;
    li {
      line-height: 60px;
      list-style: none;
      a {
        display: block;
        height: 50px;
        text-decoration: none;
        color: $main-white;
        font-family: Poppins;
        font-weight: bold;
        font-size: 16px;
        white-space: nowrap;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        font-size: 40px;
        text-align: left;

        &:hover {
          color: $main-side-bar-hover;
        }
      }
    }
  }
}

.logoContainerMini {
  background-color: $main-red;
  height: 158px;
  width: 100%;
  .logoMini {
    top: 20px;
    width: 60%;
    position: absolute;
    left: 10px;
  }
}
.cardMain {
  width: 100%;
  height: 100%;
  padding: 0px !important;
}
.card-list {
  display: flex;
  overflow-x: auto;
}
.card-wrapper {
  box-sizing: border-box;
  &:hover {
    background-color: #fffaf0;
  }
}
.listdate {
  font-size: 30px;
  color: #95989a;
}
.listtitle {
  font-size: 55px;
}
.listinfo {
  font-size: 18px;
  color: #95989a;
}
.card-info {
  width: 300px;
  height: 100%;
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  display: table-cell;
  vertical-align: middle;
}
.col {
  padding: 0px !important;
}
.card-content,
.menu-btn {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.card-number {
  position: absolute;
  top: 0px;
  left: 15px;
  font-size: 45px;
  color: $main-list-num;
}
@media #{$media-tablet} {
  &.card-list {
    overflow-x: auto;
    display: none;
  }
  &.card {
    border: none !important;
  }
  &.card-content {
    width: 500px;
  }
  .nav-side-bar ul {
    padding: 140px 0 0 110px;
  }
}

@media #{$media-mobile} {
  .card-list {
    overflow-x: auto;
    display: none;
  }
  &.card {
    border: none !important;
  }
  &.card-content {
    width: 270px;
  }
  .nav-side-bar ul {
    padding: 40px 0 0 100px;
  }
}

@media #{$media-mobile-sm} {
  .card-list {
    overflow-x: auto;
    display: none;
  }

  &.card {
    border: none !important;
  }
  &.card-content {
    width: 270px;
  }
  .nav-side-bar ul {
    padding: 40px 0 0 100px;
  }
}
